<!-- FOOTER -->
  <footer class="text-center">
    <div class="container">
      <p class="mb-0">&copy; 2025 Galerie d’Art | Tous droits réservés</p>
      <small>Conçu avec ❤️ par l’équipe Symfony</small>
    </div>
  </footer>